/* 	Reset
	Eric Meyer's Reset Stylesheet + a few other improvements
--------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
input,
select {
  vertical-align: middle; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  top: 0.2em; }

sup {
  top: -0.4em; }

.hidden {
  display: none; }

body, .primary {
  background-color: #3398db; }

#guess, .secondary {
  background: black; }

aside {
  background-color: rgba(0, 0, 0, 0.7); }

.md-wrap {
  background-color: #d9d9d9; }

#title, h2, h3, h4, h5, h6, p {
  color: white; }

span {
  color: #297db6;
  color: rgba(7, 19, 44, 0.25); }

#lightness {
  background-color: transparent;
  color: white;
  border-bottom: 0.1618rem solid white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  #lightness:focus {
    outline: none; }

button {
  background-color: #1abc9c;
  color: white; }

label {
  color: #b3b3b3; }

a {
  color: white;
  text-decoration: none; }
  a :visited {
    color: white; }

h5 {
  color: white; }
  h5 a, h5 a:visited {
    color: inherit;
    text-decoration: none; }

@font-face {
  font-family: 'font-awesome';
  src: url("../type/font-awesome.eot");
  src: url("../type/font-awesome.eot?#iefix") format("embedded-opentype"), url("../type/font-awesome.woff") format("woff"), url("../type/font-awesome.ttf") format("truetype"), url("../type/font-awesome.svg#font-awesome") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:after {
  font-family: 'font-awesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'kankin';
  src: url("../type/kankin-webfont.eot");
  src: url("../type/kankin-webfont.eot?#iefix") format("embedded-opentype"), url("../type/kankin-webfont.woff") format("woff"), url("../type/kankin-webfont.ttf") format("truetype"), url("../type/kankin-webfont.svg#kankinregular") format("svg");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 100%; }
  @media screen and (min-width: 421px) and (max-width: 820px) {
    html {
      font-size: 112.5%; } }
  @media screen and (min-width: 821px) {
    html {
      font-size: 125%; } }

body {
  font: 400 1rem/1.618 "Open Sans", sans-serif; }

h1, h2 {
  font-family: "Playfair Display", sans-serif; }

h3, h4, h5, h6, #lightness, #lightness + h2 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2.61792rem; }

h2 {
  font-size: 4.2358rem;
  line-height: 4.854rem; }

h3, #lightness {
  font-size: 1.618rem;
  line-height: 1.618rem; }

h4 {
  font-size: 1.618rem;
  line-height: 1.618rem; }

h5 {
  font-size: 1rem;
  line-height: 1.618rem; }

h6, p {
  font-size: 1rem;
  line-height: 1.618rem; }

input, button {
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1.618;
  vertical-align: middle; }

#get-answer {
  font-size: 1.618rem; }

input, button {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 0.809rem;
  margin-right: 0.809rem;
  padding-top: 0.4045rem;
  padding-bottom: 0.4045rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

#select-color button {
  min-width: 8rem; }

input {
  padding-left: 0.809rem;
  padding-right: 0.809rem; }

button {
  text-align: center;
  cursor: pointer; }

#lightness {
  padding: 0; }

#get-answer {
  width: auto; }

.ref-input {
  overflow: hidden;
  margin-bottom: 0.809rem; }
  .ref-input label {
    vertical-align: middle;
    font-family: 'Open Sans';
    line-height: 2.44rem; }
  .ref-input input {
    float: right;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.primary {
  width: 61.8%;
  position: fixed;
  min-height: 100%; }

.fullwidth {
  width: 100%; }

.secondary {
  display: block;
  width: 38.2%;
  position: fixed;
  right: 0;
  min-height: 100%; }

#title, .main {
  padding-left: 6.75676%; }

.main {
  padding-right: 6.75676%; }

aside {
  position: absolute;
  padding: 0.809rem 1.618rem;
  left: 6.75676%;
  bottom: 0; }

header {
  height: 4.854rem;
  margin-bottom: 64.72px;
  margin-bottom: 3.236rem; }

#title {
  display: inline;
  height: 4.854rem;
  line-height: 4.854rem;
  border-bottom: 0.809rem solid white; }

.main .hero + .hero {
  margin-bottom: 32.36px;
  margin-bottom: 1.618rem; }

#color {
  width: 25%; }

#go {
  width: auto;
  min-width: 0;
  padding-left: 1rem;
  padding-right: 1rem; }

#guess header {
  display: none; }
#guess .main {
  padding-top: 8.09rem; }

#guess h2, #lightness {
  display: inline; }

#lightness {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 1.618;
  margin-right: 0;
  text-align: center;
  width: 3rem; }

#lightness, #get-answer {
  vertical-align: bottom;
  height: 2.61792rem; }

#get-answer {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4.854rem;
  margin-top: 3.236rem;
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out; }
  #get-answer:after {
    padding-left: 1rem;
    -webkit-transition: padding 0.5s ease-in-out;
    -moz-transition: padding 0.5s ease-in-out;
    -o-transition: padding 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out; }
  #get-answer:hover {
    padding-left: 3rem; }
    #get-answer:hover:after {
      padding-left: 2rem; }

.reference {
  margin-top: 9.708rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.618rem;
  width: 60%;
  background: rgba(0, 0, 0, 0.5) 0 0 no-repeat; }

h4 {
  text-align: center; }

.reference-selector {
  margin-top: 1.618rem; }
  .reference-selector li:last-child {
    margin-bottom: 0; }

.level-selector li {
  display: inline; }

.md-wrap {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  width: 25rem;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  .md-wrap .md-answer {
    width: 90%;
    margin-left: 5%; }
  .md-wrap .user-answer, .md-wrap .correct-answer, .md-wrap .hsl-col {
    margin-top: 0.809rem;
    float: left;
    width: 33.33%;
    text-align: center;
    margin-bottom: 1.618rem; }
    .md-wrap .user-answer li:nth-child(2), .md-wrap .correct-answer li:nth-child(2), .md-wrap .hsl-col li:nth-child(2) {
      margin-top: 1.618rem; }
  .md-wrap .user-answer li:first-child, .md-wrap .correct-answer li:first-child {
    border-bottom: 2px solid black; }
  .md-wrap #select-color {
    width: 100%; }
    .md-wrap #select-color input:last-child, .md-wrap #select-color button:last-child {
      float: right;
      margin-left: 0;
      margin-right: 5%; }
  .md-wrap input, .md-wrap button {
    margin: 0.809rem 0 0.809rem 5%;
    width: 44%; }

.try-again input, .try-again button {
  width: 90%;
  margin-top: 0; }

.md-overlay {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.levelSelected {
  background-color: #f46e67;
  color: white; }

.background li {
  display: inline-block;
  margin: -4px;
  overflow: hidden;
  width: 20%;
  height: 200px;
  background: red; }

.frontpage {
  background: white url(../img/background.jpg) 0 0 no-repeat;
  background-size: cover; }
  .frontpage h1, .frontpage h2, .frontpage h3 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center; }
  .frontpage h2 {
    margin-bottom: 3.236rem; }
  .frontpage h3 {
    margin-bottom: 0 !important; }
  .frontpage button {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
    .frontpage button:hover {
      background-color: #f46e67; }
  .frontpage #select-color, .frontpage #color-input {
    text-align: center; }
