// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 4;
$column-width   : 4rem;
$gutter-width   : 1rem;
$grid-padding   : 0;

$show-grid-backgrounds  : true;
