//
//	Background colors
// --------------------------------------------------------------------------
body, .primary {
	background-color: $primary-bg-c;
}

#guess, .secondary {
	background:$secondary-bg-c;
}

aside {
	background-color: $aside-bg-c;
}

.md-wrap {
	background-color: hsla(0, 0%, 85%, 1);
}

//
//	Text colors
// --------------------------------------------------------------------------
#title,h2,h3,h4,h5,h6,p {
	color: $head-c;
}

span {
	color: $span-bc;
	color: $span-c;
}



//
//	Form Colors
// --------------------------------------------------------------------------
#lightness {
	background-color: transparent;
	color: $body-c;
	border-bottom: $blh*0.1rem solid $body-c;
	@include border-radius(0);

	&:focus {
		outline:none;
	}
}

button {
	background-color: $button-c;
	color: $button-text-c;
}

label {
	color: darken(white, 30%);
}
//
//	Link colors
// --------------------------------------------------------------------------
a {
	color: $body-c;
	text-decoration: none;

	:visited {
		color: $body-c;
	}
}

h5 {
	color: $body-c;

	a, a:visited {
		color: inherit;
		text-decoration: none;
	}
}

