//
//	Basic Form styles
// --------------------------------------------------------------------------
input, button{
	margin: 0;
	padding: 0;
	border: none;

	// To separate each element
	margin-top: $blh*0.5rem;
	margin-right: $blh*0.5rem;

	// extra top & bottom margins in forms
	padding-top: $blh*0.25rem;
	padding-bottom: $blh*0.25rem;

	@include appearance(none);
}

#select-color button {
	min-width: 8rem;
}

input {
	padding-left: $blh*0.5rem;
	padding-right: $blh*0.5rem;
}

button {
	text-align: center;
	cursor: pointer;
}

#lightness {
	padding: 0;
}

#get-answer {
	width: auto;
}

// Reference area
.ref-input{
	overflow: hidden;
	margin-bottom: $blh*0.5rem;

	label {
		vertical-align: middle;
		font-family: 'Open Sans';
		line-height: 2.44rem;
	}

	input {
		float: right;
		margin-top: 0;
		margin-right: 0;
		padding-right: 0;
	}
}



