header {
	height: $blh*3rem;
	margin-bottom: $base-lh*2;
	margin-bottom: $blh*2rem;
}

#title {
	display:inline;
	height: $blh*3rem;
	line-height: $blh*3rem;
	border-bottom: $blh*0.5rem solid white;
}