//
//	Layouts
// --------------------------------------------------------------------------
@include border-box-sizing;

.primary {
	width: 61.8%;
	position: fixed;
	min-height: 100%;
}

.fullwidth {
	width: 100%;
}

.secondary {
	display: block;
	width: 38.2%;
	position: fixed;
	right: 0;
	min-height: 100%;
}

#title, .main {
	padding-left: percentage(100/1480);
}

.main {
	padding-right: percentage(100/1480);
}

aside {
	position: absolute;
	padding: $blh*0.5rem $blh*1rem;

	left: percentage(100/1480);
	bottom: 0;
}