// Media Queries Mixins
@mixin bp($point) {
  @if $point == large {
  	 @media screen and (min-width:821px) { @content; }

  }
  @else if $point == medium {
    @media screen and (min-width:421px) and (max-width: 820px)  { @content; }
  }

  @else if $point == small {
    @media screen and (max-width: 420px)  { @content; }
  }
}

@function power($base-number, $multiplier,$unit){
	$var: 1;
	$ans: $base-number;
	@while $var < $multiplier {
		$ans: $ans * $base-number;
		$var: $var + 1;
	}
  @return $ans + $unit
}