.md-wrap {
	position: fixed;
	z-index: 20;
	top: 50%;
	left: 50%;
	width: 25rem;
	@include transform(translateX(-50%) translateY(-50%));

	.md-answer {
		width: 90%;
		margin-left: 5%;
	}
	.user-answer, .correct-answer, .hsl-col {
		margin-top: $blh*0.5rem;
		float: left;
		width: 33.33%;
		text-align: center;
		margin-bottom: $blh*1rem;

		li:nth-child(2) {
			margin-top: $blh*1rem;
		}
	}

	.user-answer, .correct-answer {
		li:first-child {
			border-bottom: 2px solid black;
		}
	}


	#select-color {
		width: 100%;

		input, button {
			&:last-child {
				float: right;
				margin-left: 0;
				margin-right: 5%;
			}
		}
	}

	input, button {
		margin: $blh*0.5rem 0 $blh*0.5rem 5% ;
		width: 44%;
	}
}


.try-again {
	input, button {
		width: 90%;
		margin-top: 0;
	}
}

.md-overlay {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;

	background: rgba(0,0,0,0.5);
	// visibility: hidden;
}