.main {
	.hero + .hero {
		margin-bottom: $base-lh;
		margin-bottom: $blh*1rem;
	}
}

#color {
	width: 25%;
}

#go {
	width: auto;
	min-width: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}
//
// 	Specials for Guess Page
// --------------------------------------------------------------------------
#guess {
	header {
		display: none;
	}
	.main {
		padding-top: $blh*5rem;
	}
}

#guess h2, #lightness{
	display:inline;
}

// input lightness form
#lightness {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: $blh;
	margin-right: 0;
	text-align: center;
	width: 3rem;
}

#lightness, #get-answer {
	vertical-align: bottom;
	height: $blh*1.618rem;
}

#get-answer {
	padding-left: 1rem;
	padding-right: 1rem;
	height: $blh*3rem;
	margin-top: $blh*2rem;
	@include transition(padding 0.5s ease-in-out);

	&:after {
		padding-left: 1rem;
		@include transition(padding 0.5s ease-in-out);
	}

	&:hover {
		padding-left: 3rem;
		&:after {
			padding-left: 2rem;
		}
	}
}
