.reference {
	margin-top: $blh*6rem;
	margin-left: auto;
	margin-right: auto;
	padding: $blh*1rem;
	width: 60%;

	background: rgba(0,0,0,0.5) 0 0 no-repeat;
}

h4 {
	text-align: center;
}

.reference-selector {
	margin-top: $blh*1rem;

	li:last-child {
		margin-bottom: 0;
	}
}