//
//	Font icons declaration
// --------------------------------------------------------------------------
@font-face {
	font-family: 'font-awesome';
	src:url('../type/font-awesome.eot');
	src:url('../type/font-awesome.eot?#iefix') format('embedded-opentype'),
	url('../type/font-awesome.woff') format('woff'),
	url('../type/font-awesome.ttf') format('truetype'),
	url('../type/font-awesome.svg#font-awesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:after {
	font-family: 'font-awesome';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

//
//	Font Face Declarations
// --------------------------------------------------------------------------

@font-face {
	font-family: 'kankin';
	src: url('../type/kankin-webfont.eot');
	src: url('../type/kankin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../type/kankin-webfont.woff') format('woff'),
	url('../type/kankin-webfont.ttf') format('truetype'),
	url('../type/kankin-webfont.svg#kankinregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

html{
	font-size: 100%; //16px for Mobile
	@include bp(medium) {
		font-size: 112.5%;
	}
	@include bp(large) {
		font-size: 125%;
	}
}

body{
	font: $body-normal 1rem/1.618 $body-font;
}

h1,h2 {
	font-family: $logo-font;
}

h3,h4,h5,h6, #lightness, #lightness + h2 {
	font-family: $body-font;
}

h1 {
	font-size: power(1.618,2,rem);
}

h2 {
	font-size: power(1.618,2.5,rem);
	line-height: $blh*3rem;
}

h3, #lightness {
	font-size: 1.618rem;
	line-height: $blh*1rem;
}

h4 {
	// font-size: power(1.618,4,rem);
	// line-height: $blh*5rem;
	font-size: 1.618rem;
	line-height: $blh*1rem;
}

h5 {
	font-size: 1rem;
	line-height: $blh*1rem;
	// h5 is the B&W switch. Set fittext/bigtext for tablet / desktop.
}

h6, p {
	font-size: 1rem;
	line-height: $blh*1rem;
	//More info
}

// Form fonts
input, button {
	font-size: inherit;
	font-family: $form-font;
	font-weight: normal;
	line-height: 1.618;
	vertical-align: middle;
}

#get-answer {
	font-size: power(1.618,1,rem);
}
