
//
//	Typography Variables
// --------------------------------------------------------------------------
$logo-font: 'Playfair Display', sans-serif;
$body-font: 'Open Sans', sans-serif;
$form-font: 'Open Sans', sans-serif;

$logo-normal:900;
$body-normal:400;
$form-normal:600;

$blh: 1.618;

$base-size: 20px;
$base-lh: $base-size*$blh;



//
//	Color Variables
// --------------------------------------------------------------------------

// Background colors
$primary-bg-c:hsl(204, 70%, 53%);
$secondary-bg-c:black;
$aside-bg-c: rgba(0,0,0,0.7);
// Typography Colors
$head-c: white;
$body-c:$head-c;
$span-bc: #297db6;
$span-c:hsla(220,74%,10%,0.25);

// Form Colors
$button-c:hsl(168, 76%, 42%);
// $button-c: white;
$button-text-c: white;