// Vendor mixins
@import "base";
@import "compass/css3";

// Personal mixins
@import "mixins";

// Resets and variables
@import "reset";
@import "variables";

// Colors and Typography
@import "colors";
@import "type";
@import "form";

// Core layout
@import "layout";
@import "header";
@import "primary";
@import "secondary";
@import "fullwidth";
@import "modal-window";

.levelSelected {
	background-color: hsl(3,86%,68%);
	color: white;
}

.background{
	li {
		display: inline-block;
		margin: -4px;
		overflow: hidden;
		width: 20%;
		height: 200px;
		background: red;
	}
}

.frontpage {
	background: white url(../img/background.jpg) 0 0 no-repeat;
	background-size:cover;

	h1,h2,h3 {
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
		text-align: center;
	}

	h2 {
		margin-bottom: $blh*2rem;
	}

	h3 {
		margin-bottom: $blh*0 !important;
	}

	button {
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
		&:hover {
			background-color: hsl(3,86%,68%)
		}
	}

	#select-color, #color-input {
		text-align: center;
	}
}