<div id="wrap" ng-click="closeShowSelect()">
	<div class="primary fullwidth frontpage">

		<header>
			<!-- <h1 id="title">Learn colors with HSL</h1> -->
		</header>



		<div class="main">
			<h2 class="hero">Learn to identify colors with HSL</h2>
<!-- 			<div ng-controller="LevelSelectCtrl" class="level-selector">
				<ul>
					<li ng-repeat="(level,message) in levels">
						<button ng-click="user.setSelectedLevel(level)" ng-class="{levelSelected: user.isSelectedLevel(level)}">{{"Level " +level}}
						</button>
					</li>
				</ul>
				<h6>{{message}}</h6>
			</div> -->
			<h3 class="hero">Select a color to begin</h3>

			<div id="select-color" ng-hide="showSelect">
				<button ng-click="openShowSelect()" stop-event='click'>Select Color</button>
				<button ng-click="redirect(autoColor)">Random Color</button>
			</div>
			<form>
				<div id="color-input" ng-show="showSelect" stop-event='click'>
					<input type="text" id="color" name="color" placeholder="{{'#' + autoColor}}" ng-model="userColor">
					<button id="go" ng-click="redirect(userColor || autoColor)">Go</button>
				</div>
			</form>
		</div>
	</div>
	<!-- End primary -->
</div>

