<div id="guess">
	<div id="wrap">
		<div class="primary" ng-style="getColor('background')">
			<header>
				<h1 id="title">Color Value Exercise</h1>
			</header>

			<div class="main">
				<div class="guess-area">
					<form>
						<h3 ng-style="getColor('text') " class="hero">The background color is hsl(
							<input type="text" id="lightness" name="lightness" ng-style="getColor('form')" ng-model="user.color.h">
							,
							<input type="text" id="lightness" name="lightness" ng-style="getColor('form')" ng-model="user.color.s">
							<span ng-style="getColor('text')" id="percent" >%</span>
							,
							<input type="text" id="lightness" name="lightness" ng-style="getColor('form')" ng-model="user.color.l">
							<span ng-style="getColor('text')" id="percent" >%)
							</span>
							<button id="get-answer" ng-style="getColor('submit')" ng-click="getAnswer(user.color.h,user.color.s,user.color.l)" data-icon="&#xf061;">Check Answer</button>
						</form>
					</div>

					<aside>
						<h6>More info</h6>
					</aside>
				</div>
			</div>
		</div>

		<div class="secondary" ng-controller="ReferenceColorCtrl" ng-style="{background: refBgColor}">
			<div class="reference">
				<h4>hsl({{ref.h}},{{ref.s + "%"}},{{ref.l + "%"}})</h4>

				<ul class="reference-selector">
					<li class="ref-input">
						<label for="ref-h">Hue</label>
						<input type="number" id="ref-h" ng-model="ref.h" max="360" min="0">
					</li>

					<li class="ref-input">
						<label for="ref-s">Saturation</label>
						<input type="number" id="ref-s" ng-model="ref.s" max="100" min="0">
					</li>

					<li class="ref-input">
						<label for="ref-l">Lightness</label>
						<input type="number" id="ref-l" ng-model="ref.l" max="100" min="0">
						<!-- <button class="stepper up" ng-mousedown="stepDown()"} ng-mouseup="stepDownOff()"></button>
						<button class="stepper down" ng-mousedown=" ref.l = ref.l - 1"}></button> -->
					</li>
				</ul>

				<button ng-click="transfer()">Transfer to answer</button>
			</div>
		</div>

		<div class="md-wrap" ng-show="showModWin" ng-controller="SelectColorCtrl">
			<div class="md-content">
				<div class="md-answer" ng-controller="ShowAnswerCtrl">
					<ul class="user-answer">
						<li>Your Answer</li>
						<li class="user-hue">{{user.color.h}}</li>
						<li class="user-sat">{{user.color.s + "%"}}</li>
						<li class="user-light">{{user.color.l + "%"}}</li>
					</ul>
					<ul class="hsl-col">
						<li>&nbsp;</li>
						<li>H</li>
						<li>S</li>
						<li>L</li>
					</ul>
					<ul class="correct-answer">
						<li>Actual Answer</li>
						<li class="correct-hue">{{pageColor.h}}</li>
						<li class="correct-sat">{{pageColor.s + "%"}}</li>
						<li class="correct-light">{{pageColor.l + "%"}}</li>
					</ul>
				</div>
				<div class="try-again">
					<button id="try-again" ng-click="toggleShowMdSelect()" ng-hide="showMdSelect">Try again?</button>
				</div>
				<div class="md-select"  ng-show="showMdSelect">
					<div id="select-color" ng-hide="showSelect">
						<button ng-click="openShowSelect()" stop-event='click'>Select Color</button>
						<button ng-click="redirect(autoColor)">Random Color</button>
					</div>
					<div id="color-input" ng-show="showSelect" stop-event='click'>
						<input type="text" id="color" name="color" placeholder="{{'#' + autoColor}}" ng-model="userColor">
						<button id="go" ng-click="redirect(userColor || autoColor)">Go</button>
					</div>
				</div>
			</div>
		</div>
		<div class="md-overlay" ng-show="showModWin" ng-click="closeModWin()">
		</div>
		<footer>
		</footer>
	</div>
</div>