@font-face {
	font-family: 'font-awesome';
	src:url('fonts/font-awesome.eot');
	src:url('fonts/font-awesome.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-awesome.woff') format('woff'),
		url('fonts/font-awesome.ttf') format('truetype'),
		url('fonts/font-awesome.svg#font-awesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:after {
	font-family: 'font-awesome';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-arrow-right, .icon-right, .icon-chevron-right {
	font-family: 'font-awesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-right:before {
	content: "\f304";
}
.icon-chevron-right:before {
	content: "\f054";
}
